body {
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.business-card {
  width: 400px;
  display: flex;
  border: 1px dotted #4682;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
  background-color: #00b4d8;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

img {
  width: 150px;
  height: 180px;
  border-radius: 50%;
  padding-left: 10px;
}
.italic {
  font-style: italic;
}
